*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  box-sizing: inherit;
  height: 100%;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.5;
  background-color: #2B2B2B;
}

img {
  display: block;
  width: 100%;
}
a{
    text-decoration: none;
}
.container{
    max-width: 1046px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}
button{
    cursor: pointer;
}
/* header component's style start */
.header{
    margin: 25px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__img{
    width: 243.414px;
height: 32px;
}
.header__right{
    width: 55%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__right--ul{
    list-style-type: none;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__right--button{
    color: #FFF;
text-align: center;
font-family: "Work Sans";
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 140%; 
display: flex;
height: 60px;
padding: 0px 30px;
justify-content: center;
align-items: center;
background-color: #A259FF;
border: none;
border-radius: 20px;
}
.header__right--ul-li-a{
    color: #FFF;
    text-align: center;
    font-family: "Work Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; 
}
.bx-user{
    margin-right: 8px;
}
/* header component's style end */

/* futter component's style start */
.futter{
    background-color: #3B3B3B;
}
.futter__section{
    padding: 40px 0;
}
.futter__ul{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
ul{
    list-style-type: none;
}
.futter__ul--li-ul-li-img{
    width: 243px;
    height: 32px;
    margin-top: -18px;
}
.futter__ul--li-ul-li{
    color: #CCC;
    margin-top: 20px;
font-family: "Work Sans";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 22.4px */
}
.futter__ul--li-ul-li-a-active{
    color: #FFF;
font-family: "Space Mono";
font-size: 22px;
font-style: normal;
font-weight: 700;
line-height: 160%; /* 35.2px */
text-transform: capitalize;

}
.futter__ul--li-ul-li-a{
    color: #CCC;
font-family: "Work Sans";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 22.4px */
}
.futter__i{
    transform: scale(1.5);
    color: #858584;
}
.futter__ul--li-ul-li-li-i{
width: 128px;
display: flex;
justify-content: space-between;
align-items: center;
margin-top: 15px;
}
.futter__ul--li-ul-form{
    display: flex;
    align-items: center;
    margin-top: 40px; 
    width: 420px; 
}
.futter__ul--li-ul-form-input{
    color: var(--Background, #2B2B2B);
    display: flex;
    height: 60px;
    padding: 16px 0px 16px 20px;
    align-items: center;
    align-self: stretch;
    border-radius: 20px;
    background-color: white;
    width: 420px;
font-family: "Work Sans";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 22.4px */
border: none; 
}
.futter__ul--li-ul-form-button{
    color: #FFF;
text-align: center;
font-family: "Work Sans";
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 140%; /* 22.4px */
display: flex;
align-items: center;
height: 60px;
padding: 0px 50px;
justify-content: flex-end;
align-items: center;
border-radius: 20px;
background-color: #A259FF;
border: none;
transform: translateX(-30px);
}
.futter__hr{
    background: #858584;
    height: 1px;
    border: none;

}
.futter__p{
    color: #CCC;
margin-top: 20px;
font-family: "Work Sans";
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 110%; /* 13.2px */
padding-bottom: 30px;
}
@media only screen and (max-width:1000px) {
    .futter {
        background-color: #3B3B3B;
    }
    
    .futter__section {
        padding: 40px 0;
    }
    
    .futter__ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    ul {
        list-style-type: none;
    }
    
    .futter__ul--li-ul-li-img {
        width: 243px;
        height: 32px;
        margin-top: -18px;
    }
    .futter__ul--li{
margin-top: 30px;
    }
    
    .futter__ul--li-ul-li {
        color: #CCC;
        margin-top: 20px;
        font-family: "Work Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        /* 22.4px */
    }
    
    .futter__ul--li-ul-li-a-active {
        color: #FFF;
        font-family: "Space Mono";
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: 160%;
        /* 35.2px */
        text-transform: capitalize;
    
    }
    
    .futter__ul--li-ul-li-a {
        color: #CCC;
        font-family: "Work Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        /* 22.4px */
    }
    
    .futter__i {
        transform: scale(1.5);
        color: #858584;
    }
    
    .futter__ul--li-ul-li-li-i {
        width: 128px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 15px;
    }
    
    .futter__ul--li-ul-form {
        display: flex;
        align-items: center;
        margin-top: 40px;
        width: 420px;
    }
    
    .futter__ul--li-ul-form-input {
        color: var(--Background, #2B2B2B);
        display: flex;
        height: 60px;
        padding: 16px 0px 16px 20px;
        align-items: center;
        align-self: stretch;
        border-radius: 20px;
        background-color: white;
        width: 420px;
        font-family: "Work Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        /* 22.4px */
        border: none;
    }
    
    .futter__ul--li-ul-form-button {
        color: #FFF;
        text-align: center;
        font-family: "Work Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        /* 22.4px */
        display: flex;
        align-items: center;
        height: 60px;
        padding: 0px 50px;
        justify-content: flex-end;
        align-items: center;
        border-radius: 20px;
        background-color: #A259FF;
        border: none;
        transform: translateX(-30px);
    }
    
    .futter__hr {
        background: #858584;
        height: 1px;
        border: none;
    
    }
    
    .futter__p {
        color: #CCC;
        margin-top: 20px;
        font-family: "Work Sans";
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 110%;
        /* 13.2px */
        padding-bottom: 30px;
    }
   
     
}

@media only screen and (max-width:680px) {
 .futter__ul--li-ul-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 40px;
        width: 420px;
    }
    .futter__ul--li-ul-form-button{
        color: #FFF;
        width: 315px;
        text-align: center;
        font-family: "Work Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        /* 22.4px */
        display: flex;
        align-items: center;
        height: 60px;
        padding: 0px 50px;
        justify-content: flex-end;
        align-items: center;
        border-radius: 20px;
        background-color: #A259FF;
        border: none;
        margin-top: 20px;
    }
    .futter__ul--li-ul-form-input {
        color: var(--Background, #2B2B2B);
        display: flex;
        height: 60px;
        padding: 16px 0px ;
        align-items: center;
        align-self: stretch;
        border-radius: 20px;
        background-color: white;
        width: 315px;
        font-family: "Work Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        /* 22.4px */
        border: none;
    }
    .futter__ul--li-ul-form {
        display: flex;
        align-items: center;
        margin-top: 40px;
        width: 315px;
    }
}
/* futter component's style end */
